name: main
on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  install:
    name: Install Dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: fernandopasik/actions/setup-node@main
  check-format:
    name: Check Format
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: fernandopasik/actions/setup-node@main
      - name: Check Format
        run: npm run format:check
  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: fernandopasik/actions/setup-node@main
      - name: Lint
        run: npm run lint
  check-types:
    name: Check Typescript Types
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: fernandopasik/actions/setup-node@main
      - name: Check Typescript Types
        run: npm run check-types
  unit-test:
    name: Unit Tests
    runs-on: ubuntu-latest
    needs: install
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: fernandopasik/actions/setup-node@main
      - name: Unit Tests
        run: npm run test:coverage -- --ci --reporters=default --reporters=jest-junit
        env:
          JEST_JUNIT_OUTPUT_FILE: 'reports/unit-test-results.xml'
      - name: Upload Report to Codecov
        uses: codecov/codecov-action@v5
        if: always()
      - name: Upload Report
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: unit-test-results
          path: reports/unit-test-results.xml
  build:
    name: Build
    runs-on: ubuntu-latest
    needs:
      - check-format
      - lint
      - check-types
      - unit-test
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: fernandopasik/actions/setup-node@main
      - name: Build
        run: npm run build
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v6
        with:
          name: bundle
          path: lit-redux-router.min.*
  size:
    name: Check Size
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node
        uses: fernandopasik/actions/setup-node@main
      - name: Download Build Artifact
        uses: actions/download-artifact@v6
        with:
          name: bundle
      - name: Check Size
        run: npm run size
